[user]
	name = Dave Harrington
	email = dharrington@lyft.com

[color]
    ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD

[github]
	user = dave@lightbox.com
	token = 88ff5d47fbd77fc639d984d8cd67995f
[core]
	excludesfile = /Users/dharrington/.gitignore
	quotepath = false
	editor = vim
[push]
	default = tracking
[web]
	browser = ff
[browser "ff"]
	cmd = open -a Firefox.app
[init]
	templateDir = /opt/lyft/.git-template
[url "git@github.com:"]
	insteadOf = https://github.com/
