# Share connections
#ControlMaster auto
#ControlPath /tmp/ssh_mux_%h_%p_%r

Host web1

HostName web1.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

Host web2

HostName web2.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

Host dbm

HostName db-master.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

Host dbs

HostName db-slave.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

Host feed1

HostName feed1.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

Host stats

HostName stats.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

Host logs

HostName logs.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

Host dave
HostName dave.lightbox.com
User dave
ServerAliveInterval 30
ServerAliveCountMax 120

